

    <!DOCTYPE html>
    <html lang="en">

    <head>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76"	th:href="@{/resources/img/apple-icon.png}">
<link rel="icon" type="image/png"	th:href="@{/resources/img/allinone_logo.png}">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>All 1n One Human Resource</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">
<!-- CSS Files -->
<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/resources/css/cal.css}" rel="stylesheet"/>
<link th:href="@{/resources/css/now-ui-dashboard.css?v=1.5.0}" rel="stylesheet" />


<!-- CSS Just for demo purpose, don't include it in your project -->
<link th:href="@{/resources/demo/demo.css}" rel="stylesheet" />
</head>
    <body>
    <script th:src="@{/resources/js/cal.js}"></script>
        <div class="container" th:fragment="calendar">
            <div class="calendar">
              <div class="front">
                <div class="current-date">
                  <h1>Thursday 14th</h1>
                  <h1>January 2020</h1> 
                </div>
      
                <div class="current-month">
                  <ul class="week-days">
                    <li>MON</li>
                    <li>TUE</li>
                    <li>WED</li>
                    <li>THU</li>
                    <li>FRI</li>
                    <li>SAT</li>
                    <li>SUN</li>
                  </ul>
      
                  <div class="weeks">
                    <div class="first">
                      <span class="last-month">28</span>
                      <span class="last-month">29</span>
                      <span class="last-month">30</span>
                      <span class="last-month">31</span>
                      <span>01</span>
                      <span>02</span>
                      <span>03</span>
                    </div>
      
                    <div class="second">
                      <span>04</span>
                      <span>05</span>
                      <span class="event">06</span>
                      <span>07</span>
                      <span>08</span>
                      <span>09</span>
                      <span>10</span>
                    </div>
      
                    <div class="third">
                      <span>11</span>
                      <span>12</span>
                      <span>13</span>
                      <span class="active">14</span>
                      <span>15</span>
                      <span>16</span>
                      <span>17</span>
                    </div>
      
                    <div class="fourth">
                      <span>18</span>
                      <span>19</span>
                      <span>20</span>
                      <span>21</span>
                      <span>22</span>
                      <span>23</span>
                      <span>24</span>
                    </div>
      
                    <div class="fifth">
                      <span>25</span>
                      <span>26</span>
                      <span>27</span>
                      <span>28</span>
                      <span>29</span>
                      <span>30</span>
                      <span>31</span>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="back">
                <input placeholder="What's the event?">
                <div class="info">
                  <div class="date">
                    <p class="info-date">
                    Date: <span>Jan 12th, 2020</span>
                    </p>
                    <p class="info-time">
                      Time: <span>6:35 PM</span>
                    </p>
                  </div>
                  <div class="address">
                    <p>
                      Address: <span>129 W 81st St, New York, NY</span>
                    </p>
                  </div>
                  <div class="observations">
                    <p>
                      Observations: <span>Be there 15 minutes earlier</span>
                    </p>
                  </div>
                </div>
      
                <div class="actions">
                  <button class="save">
                    Save <i class="ion-checkmark"></i>
                  </button>
                  <button class="dismiss">
                    Dismiss <i class="ion-android-close"></i>
                  </button>
                </div>
              </div>
      
            </div>
          </div>
      
    </body>
    </html>

    
