<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Welcome to Our Site</title>

</head>
<body>

	<div layout:fragment="content">
		<div class="card-header">
			<div class="row">
<div class="col-md-6"></div>
<div class="col-md-4">
				<form th:action="@{/displaymovement}" method="get" th:object="${bean}">
				
					<div class="input-group no-border" style="padding-top: 10px;">
						<input type="text" class="form-control" placeholder="Search..."
						th:value="*{id}" 	th:field="*{id}">
						<div class="input-group-append">
    <button type="submit" class="btn-primary fa fa-search" style="border-color:lightgrey;width:45px;border-bottom-right-radius: 20px; border-top-right-radius: 20px;" id="basic-addon2">Go</button>
  </div>
					</div>
				</form>
			</div>
			<div class="col-md-2 ">
			<a th:href="@{/displaymovement}">
				<input class="btn btn-round btn-primary" type="reset"></a>
			</div>
		</div>
		</div>

		<div class="card-body">

			<div class="table-responsive">
				<table class="table">
					<thead class=" text-primary">
						<th>ID</th>
						<th>Name</th>
						<th>Position</th>
						<th>Department</th>
						<th>Transaction</th>
						<th>Remark</th>
						<th>Date</th>

					</thead>
				<tbody>
						<tr th:each="data: ${movementlist}">
							<td th:text="${data.mov_id}" />
							<td th:text="${data.mov_empid.emp_name}" />
							<td th:text="${data.mov_pos !=null } ? ${data.mov_pos.posname} : ''" />
							<td th:text="${data.mov_dep !=null } ? ${data.mov_dep.name} : ''" />
							<td th:text="${data.mov_admin.emp_name}" />
							<td th:text="${data.mov_remark}" />
							<td th:text="${data.mov_create}" />
						</tr>
					</tbody>
				</table>
			</div> 
		</div>
		<div th:if="${totalPages>1}">


 <nav>
<ul class="pagination pagination-md justify-content-center">
<!--  <li class="page-item" style="font-weight:bold;color:orangered;padding-top:9px;padding-right:20px;"> Total Rows : [[${totalElements}]]</li> -->
<li class="page-item">
<div th:if="${id}==null">
<a class="page-link active" th:if="${currentPage>1}" aria-label="Previous" th:href="@{'/displaymovement/page/1' }">First</a>
  </div><div th:if="${id}!=null"> 
 <a class="page-link active" th:if="${currentPage>1}" aria-label="Previous" th:href="@{'/displaymovement/searchpage/1' +'?id='+${id}}">First</a> 
 </div>
<span class="page-link" th:unless="${currentPage>1}">First</span>
</li>
<li class="page-item">
<div th:if="${id}==null">
<a class="page-link active"  th:if="${currentPage>1}" aria-label="Previous" th:href="@{'/displaymovement/page/'+${currentPage-1}}">Previous</a>
</div><div th:if="${id}!=null"><a class="page-link active"  th:if="${currentPage>1}" aria-label="Previous" th:href="@{'/displaymovement/searchpage/'+${currentPage-1}+'?id='+${id}}">Previous</a> 
</div> 
<span class="page-link" th:unless="${currentPage>1}">Previous</span>

</li>
<li class="page-item">
<div class="page-link active" style="border-color: orangered;color:white; background-color: orangered;" >[[${currentPage}]]</div>
</li>

<li class="page-item">

 <div th:if="${id}!=null">
 <a class="page-link active"  th:if="${currentPage<totalPages}" aria-label="Previous" th:href="@{'/displaymovement/searchpage/'+${currentPage+1}+'?id='+${id}}">Next</a>
</div>
<div th:if="${id}==null">
<a class="page-link active"  th:if="${currentPage<totalPages}" aria-label="Previous" th:href="@{'/displaymovement/page/'+${currentPage+1}}">Next</a>
</div>


<span class="page-link" th:unless="${currentPage<totalPages}">Next</span>

</li>
<li class="page-item">
<div th:if="${id}==null">
<a class="page-link active"  th:if="${currentPage<totalPages}" aria-label="Previous" th:href="@{'/displaymovement/page/'+${totalPages}}">Last</a>
 </div><div th:if="${id}!=null"><a class="page-link active"  th:if="${currentPage<totalPages}" aria-label="Previous" th:href="@{'/displaymovement/searchpage/'+${totalPages}+'?id='+${id}}">Last</a> 
</div>
</li>
</ul>
</nav>
</div>
<!-- 		<nav aria-label="pagination"> -->
<!-- 			<ul class="pagination pagination-md justify-content-center"> -->
<!-- 				<li class="page-item"> -->
<!-- 					<a class="page-link" href="#" aria-label="Previous">
<!--                       <span aria-hidden="true">Previous</span> -->
<!--                       <span class="sr-only">Previous</span> -->
<!--                     </a> <a class="page-link" href="#" tabindex="-1">Previous</a> -->
<!-- 				</li> -->
<!-- 				<li class="page-item active"><a -->
<!-- 					style="border-color: orangered; background-color: orangered;" -->
<!-- 					class="page-link" href="#">1</a></li> -->

<!-- 				<li class="page-item"> -->
<!-- 					<a class="page-link" href="#" aria-label="Next">
<!--                       <span aria-hidden="true">Next</span> -->
<!--                       <span class="sr-only">Next</span> -->
<!--                     </a> <a class="page-link" href="#" tabindex="+1">Next</a> -->

<!-- 				</li> -->
<!-- 			</ul> -->
<!-- 		</nav> -->

	</div>
	


</body>
</html>