
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Free Stylish Login Page Website Template |
	Smarteyeapps.com</title>

<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/resources/css/fontawsom-all.min.css}" rel="stylesheet" />
<link th:href="@{/resources/css/style.css}" type="text/css"
	rel="stylesheet" />

</head>

<body>
	<div class="container-fluid ">
		<form action="/login" method="POST" th:object="${bean}">
			<div class=" no-pdding login-box">
				<div class="row no-margin w-100 bklmj">
					<div class="col-lg-6 col-md-6 log-det">

						<img src="/resources/images/logo-text.png" width="120px"
							height="68px"><br> <br>
						<h2>Log In Here !</h2>
						<br> <br>

						<div class="row no-margin past">
							<p>Please Sign in your account!</p>
						</div>


						<div class="text-box-cont">
							<label style="color: red;" th:text="${msg}"></label>
							<div class="input-group mb-3">
								<input type="text" class="form-control" placeholder="UserID"
									aria-label="Username" aria-describedby="basic-addon1"
									th:field="*{id}" required>
							</div>
							<div class="input-group mb-3">

								<input type="password" class="form-control"
									placeholder="Password" aria-label="Username"
									aria-describedby="basic-addon1" th:field="*{password}" required>
							</div>
							<div class="right-bkij mb-3">
								<input type="submit" class="btn btn-success" value="Log In">
							</div>

							<br> <br> <br>
							<div class="row linkoi"></div>
						</div>
						<div class="row-no-margin-past">
							<p>@Developed by All 1N ONE</p>
						</div>


					</div>
					<div class="col-lg-6 col-md-6 box-de">
						<div class="ditk-inf">
							<h2 class="w-100">WELCOME!</h2>
							<h5>Manage Smarter</h5>
							<h5>With Our EMS And</h5>
							<h5>Have a Better Day!</h5>
							<!--     <button type="button" class="btn btn-outline-light">Sign Up</button>-->
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>


	<br>
	<br>
	<br>
	<div class="row linkoi">
		<!--<div class="col-sm-5">
                                      <p>Or login with</p>
                                  </div>
                                   <div class="col-sm-7">
                                       <ul>
                                            <li><i class="fab fa-facebook-f"></i></li>
                                            <li><i class="fab fa-twitter"></i></li>
                                            
                                        </ul>
                                   </div>-->
	</div>
	</div>
	<!-- <div class="row-no-margin-past">  <p >@Developed by All 1N ONE</p></div> -->
	<!-- <img src="assets/images/logo-text.png" width="90px" height="50px" style="margin-left: 200px;"> -->


	</div>
	<div class="col-lg-6 col-md-6 box-de">
		<div class="ditk-inf">
			<h2 class="w-100">WELCOME!</h2>
			<br>
			<h5>Manage Smarter</h5>
			<h5>With Our EMS And</h5>
			<h5>Have a Better Day!</h5>
			<!--     <button type="button" class="btn btn-outline-light">Sign Up</button>-->
		</div>
	</div>
	</div>
	</div>
	</div>

</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>



</html>

