<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{staff-layout}">
<head>
<title>Welcome to Our Site</title>

</head>
<body>

	<div layout:fragment="content">
		<div class="card-header">
			<div class="row">
				<div class="col-md-8">
					<h4 class="card-title">Salary History</h4>
					<form>
						<div class="row">
							<div class="col-md-4">
								<div class="font-weight-bolder">From</div>
								<div class="input-group no-border">
									<input type="date" value="" class="form-control"
										placeholder="Year..">
									<!-- <div class="input-group-append">
                        <div class="input-group-text">
                          <i class="now-ui-icons ui-1_zoom-bold"></i>
                        </div>
                      </div> -->
								</div>
							</div>
							<div class="col-md-4">
								<div class="font-weight-bolder">To</div>
								<div class="input-group no-border">
									<input type="date" value="" id="from" class="form-control"
										placeholder="From This Month...">
									<!-- <div class="input-group-append">
                            <div class="input-group-text">
                              <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </div>
                          </div> -->
								</div>
							</div>
							<div class="col-md-2 pt-3">
								<div class="btn btn-round btn-primary">search</div>
							</div>
							<div class="col-md-1 pt-3">
								<input type="reset" class="btn btn-round btn-primary"> </input>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>

		<div class="card-body">

			<div class="table-responsive">
				<table class="table">
					<thead class=" text-primary">

						<th>Position</th>
						<th>Department</th>
						<th>Bank Account</th>
						<th>Salary Amount</th>
						<th>Date</th>

					</thead>
					<tbody>
						<tr>

							<td>Junior</td>
							<td>HR</td>
							<td>AYA3423424</td>
							<td>300000 ks</td>
							<td>26/1/2020</td>
						</tr>
						<tr>

							<td>Junior</td>
							<td>HR</td>
							<td>AYA3423424</td>
							<td>320000 ks</td>
							<td>25/2/2020</td>
						</tr>
						<tr>

							<td>Junior</td>
							<td>HR</td>
							<td>AYA3423424</td>
							<td>340000 ks</td>
							<td>25 /3/2020</td>
						</tr>
						<tr>

							<td>Junior</td>
							<td>HR</td>
							<td>AYA4444342</td>
							<td>360000 ks</td>
							<td>26/4/2020</td>
						</tr>
					
						
					</tbody>

				</table>

			</div>

		</div>
		<!-- <div class="row">
                  <div class="col-md-10"></div>
                <div class="pagination">
                  <a href="#">&laquo;</a>
                  <a href="#" class="active">1</a>
                
                  <a href="#">&raquo;</a>
                </div></div>-->
		<nav aria-label="pagination">
			<ul class="pagination pagination-md justify-content-center">
				<li class="page-item">
					<!-- <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                        <span class="sr-only">Previous</span>
                      </a> --> <a class="page-link" href="#"
					tabindex="-1">Previous</a>
				</li>
				<li class="page-item active"><a
					style="border-color: orangered; background-color: orangered;"
					class="page-link" href="#">1</a></li>

				<li class="page-item">
					<!-- <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">Next</span>
                        <span class="sr-only">Next</span>
                      </a> --> <a class="page-link" href="#"
					tabindex="+1">Next</a>

				</li>
			</ul>
		</nav>
	</div>
	
</body>
</html>