<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Welcome to Our Site</title>
<script type="text/javascript">
	function deleteStudent() {
		var isOk = confirm("Are you sure to delete?");
		if (isOk) {
			document.getElementById("myform").action = "StudentDeleteServlet";
			document.getElementById("myform").submit();
		}
	}
</script>
</head>
<body>

	<div layout:fragment="content">
		<div class="card-header">

			<div class="col-md-6">
				<h4 class="card-title">Staff Search Information</h4>
			</div>

		</div>
<!-- 		<form> -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-md-5"></div> -->
<!-- 				<div class="col-md-4 pt-2 ml-4"> -->
<!-- 					<div class="input-group no-border"> -->
<!-- 						<input type="text" value="" class="form-control" -->
<!-- 							placeholder="search..."> -->

<!-- 						<div class="input-group-append"> -->
<!-- 							<div class="input-group-text"> -->
<!-- 								<i class="now-ui-icons ui-1_zoom-bold"></i> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				<div class="col-md-2 ml-4 "> -->
<!-- 					<input class="btn btn-round btn-primary" type="reset"> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</form> -->

<!-- 		<div class="row"> -->
<!-- 			<div class="col-md-1"> -->
<!-- 				<div class="form-group"></div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<div class="row">
<div class="col-md-6"></div>
<div class="col-md-4">
				<form th:action="@{/displaystaff}" method="get" th:object="${bean}">
				
					<div class="input-group no-border" style="padding-top: 10px;">
						<input type="text" class="form-control" placeholder="Search..."
						th:value="*{id}" 	th:field="*{id}">
						<div class="input-group-append">
    <button type="submit" class="btn-primary fa fa-search" style="border-color:lightgrey;width:45px;border-bottom-right-radius: 20px; border-top-right-radius: 20px;" id="basic-addon2">Go</button>
  </div>
					</div>
				</form>
			</div>
			<div class="col-md-2 ">
			<a th:href="@{/displaystaff}">
				<input class="btn btn-round btn-primary" type="reset"></a>
			</div>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table">
					<thead class=" text-primary">

						<th>Staff ID</th>

						<th>Staff Name</th>

						<th>Email</th>

						<th>Role</th>

						<th>Department</th>

						<th>Position</th>

						<th>Actoion</th>

					</thead>
					<tbody>
						<tr th:each="data: ${stafflist}">
							<td th:text="${data.emp_id}" />
							<td th:text="${data.emp_name}" />
							<td th:text="${data.emp_email}" />
							<td th:text="${data.emp_rol.rolname}" />
							<td th:text="${data.emp_dep.name}" />
							<td th:text="${data.emp_pos.posname}" />
							<td>
								
								<a th:href="@{/setupstaffupdate(id=${data.emp_id})}"><input type="button" value="Update" class="btn btn-round btn-primary" id="roleUpdate" /></a>
								
							</td>
						</tr>
						<!-- <tr>
							<td>S0001</td>
							<td>John Smith</td>
							<td>john@gmail.com</td>
							<td>Admin</td>
							<td>HR</td>
							<td>Team Leader</td>
							<td><a href="/setupEditStaff"><input type="submit"
									value="Detail" class="btn btn-round btn-primary"></a>
						</tr> -->

					</tbody>
				</table>
			</div>
		</div>
		<div th:if="${totalPages>1}">


 <nav>
<ul class="pagination pagination-md justify-content-center">
<!--  <li class="page-item" style="font-weight:bold;color:orangered;padding-top:9px;padding-right:20px;"> Total Rows : [[${totalElements}]]</li> -->
<li class="page-item">
<div th:if="${id}==null">
<a class="page-link active" th:if="${currentPage>1}" aria-label="Previous" th:href="@{'/displaystaff/page/1' }">First</a>
  </div><div th:if="${id}!=null"> 
 <a class="page-link active" th:if="${currentPage>1}" aria-label="Previous" th:href="@{'/displaystaff/searchpage/1' +'?id='+${id}}">First</a> 
 </div>
<span class="page-link" th:unless="${currentPage>1}">First</span>
</li>
<li class="page-item">
<div th:if="${id}==null">
<a class="page-link active"  th:if="${currentPage>1}" aria-label="Previous" th:href="@{'/displaystaff/page/'+${currentPage-1}}">Previous</a>
</div><div th:if="${id}!=null"><a class="page-link active"  th:if="${currentPage>1}" aria-label="Previous" th:href="@{'/displaystaff/searchpage/'+${currentPage-1}+'?id='+${id}}">Previous</a> 
</div> 
<span class="page-link" th:unless="${currentPage>1}">Previous</span>

</li>
<li class="page-item">
<div class="page-link active" style="border-color: orangered;color:white; background-color: orangered;" >[[${currentPage}]]</div>
</li>

<li class="page-item">

 <div th:if="${id}!=null">
 <a class="page-link active"  th:if="${currentPage<totalPages}" aria-label="Previous" th:href="@{'/displaystaff/searchpage/'+${currentPage+1}+'?id='+${id}}">Next</a>
</div>
<div th:if="${id}==null">
<a class="page-link active"  th:if="${currentPage<totalPages}" aria-label="Previous" th:href="@{'/displaystaff/page/'+${currentPage+1}}">Next</a>
</div>


<span class="page-link" th:unless="${currentPage<totalPages}">Next</span>

</li>
<li class="page-item">
<div th:if="${id}==null">
<a class="page-link active"  th:if="${currentPage<totalPages}" aria-label="Previous" th:href="@{'/displaystaff/page/'+${totalPages}}">Last</a>
 </div><div th:if="${id}!=null"><a class="page-link active"  th:if="${currentPage<totalPages}" aria-label="Previous" th:href="@{'/displaystaff/searchpage/'+${totalPages}+'?id='+${id}}">Last</a> 
</div>
</li>
</ul>
</nav>
</div>
	</div>

	

</body>
</html>