<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{manager-layout}">
<head>
<title>Welcome to Our Site</title>
<script type="text/javascript">
	function deleteStudent() {
		var isOk = confirm("Are you sure to delete?");
		if (isOk) {
			document.getElementById("myform").action = "StudentDeleteServlet";
			document.getElementById("myform").submit();
		}
	}
</script>
</head>
<body>

	<div layout:fragment="content">
		<div class="card-header">
			<h4 class="card-title">BlackLists</h4>
		</div>
		
		<div class="row">
			
			

			<div class="col-md-4">
				<form action="searchrole" method="get" th:object="${bean}">
				
					<div class="input-group no-border" style="padding-top: 10px; margin-right: 20px; padding-left:40px;" >
					
							<input type="text" class="form-control" placeholder="Search..." >
							
					</div>
					
				</form>
			</div>
			<div class="col-md-2 ">
			<a th:href="@{rolesearch}">
				<input class="btn btn-round btn-primary" type="reset"></a>
			</div>
			
			
			<div class="col-md-6">
			
				<div class="form-group">
					<a href="about::printview" style="margin-left: 340px;"

						class="btn btn-round btn-primary">Print</a>
				</div>
			</div>
		</div>

		<div class="card-body">
			<div class="table-responsive">
				<table class="table">
					<thead class=" text-primary"> 
						<th>ID</th> 
						<th>Name</th> 
						<th>Department</th> 
						<th>Position</th> 
						<th>Date</th>
						<th class="text-center">Remarks</th>

					</thead>
					<tbody>
						<tr th:each="data: ${blacklist}">
							<td th:text="${data.mov_empid.emp_id}" />
							<td th:text="${data.mov_empid.emp_name}" />
							<td th:text="${data.mov_empid.emp_pos.posname}" />
							<td th:text="${data.mov_empid.emp_dep.name}" />
							<td th:text="${data.mov_create}" />
							<td th:text="${data.mov_remark}" />
						</tr>

					</tbody>
				</table>
			</div>
		</div>
		<nav aria-label="pagination">
			<ul class="pagination pagination-md justify-content-center">
				<li class="page-item">
					<!-- <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">Previous</span>
                          <span class="sr-only">Previous</span>
                        </a> --> <a class="page-link" href="#"
					tabindex="-1">Previous</a>
				</li>
				<li class="page-item active"><a
					style="border-color: orangered; background-color: orangered;"
					class="page-link" href="#">1</a></li>

				<li class="page-item">
					<!-- <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">Next</span>
                          <span class="sr-only">Next</span>
                        </a> --> <a class="page-link" href="#"
					tabindex="+1">Next</a>

				</li>
			</ul>
		</nav>
	</div>


</body>
</html>