<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Welcome to Our Site</title>

</head>
<body>

	<div layout:fragment="content">
		<div class="card-header">
			<h5 class="title">Add Position</h5>
		</div>		
		<label id="errormsg" th:text="${err}" style="color: red;">  </label> 
		<label style="color: blue;" th:text="${msg}"></label>
		<div class="card-body">
			<form action="addposition" method="post" th:object="${bean}">
				<div class="row">
					<div class="col-md-5 pr-1">
						<div class="form-group">


							<label>Position ID </label> 
							<input type="text" class="form-control" th:field="${bean.id}" readonly>



						</div>
					</div>
				</div>
				<div class="row">
				
					<div class="col-md-5 pr-1">
						<div class="form-group">

							<label>Position Name</label>


							<input type="text" class="form-control" th:field="*{name}">

						</div>
						
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<input type="submit" value="Register" class="btn btn-round btn-primary" />
							<a	href="/displayposition" class="btn btn-round btn-primary">Cancel</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	

</body>
</html>