<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Welcome to Our Site</title>
<script type="text/javascript">
	//Promotion demotion transfer .js
	function showTextBox() {
		var designation = document.getElementById("designation");
		var cPosition = document.getElementById("transferPosition");
		cPosition.style.display = (designation.value == "transfer")
				|| (designation.value == "promotion")
				|| (designation.value == "demotion") ? "block" : "none";
		var cDepartment = document.getElementById("transferDepartment");
		cDepartment.style.display = designation.value == "transfer" ? "block"
				: "none";

	}
</script>
</head>
<body>
	
	<div layout:fragment="content">
		<div class="card-header">
			<!--Header row-->
			<div class="col-md-8">
				<h5 class="card-title">Movement</h5>


			</div>
			<!--End Header Row-->

		</div>
		<!--end card header-->
		<!--Card body-->
		<div class="card-body">
		<script>
		function demo(selectObject) {
			var value = selectObject.value;
			alert(value);
			if (value == "") {
				$("#inputBatchCourseFee").val(null);
			} else {
				$.get("/setupstaffid?id=" + value, function(data) {
					console.log(data)
				}).done(function(data) {
					$("#name").val(data.emp_name);
					$("#prepos").val(data.emp_pos.posname);
					$("#predep").val(data.emp_dep.name);

				}).fail(function(data) {
					console.log(data)
					alert("error");
				}).always(function(data) {
				});
			}
		}
	</script>
		<form action="addmovement" method="post" th:object="${bean}">
				<!--row :id name-->
				<div class="row">
					<div class="col-md-5 ml-5">
						<div class="form-group">
							<label for="exampleInputUsername">ID</label> <input type="text"
								class="form-control" th:field="${bean.id}" readonly>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 ml-5">
						<label for="staffId">Staff ID</label> <br>
						<select class="form-control" th:onchange="demo(this)" th:field="*{sid}">
							<option value="">Select ID</option>
							<option th:each="list:${session.stafflist}" th:value="${list.emp_id}" th:text="${list.emp_id}">
						</select>
					</div>

					<div class="col-md-5 ml-5">
						<div class="form-group">
							<label for="Name">Name</label>
							<input type="text" class="form-control" th:field="*{name}" disabled>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 ml-5">
						<div class="form-group">
							<label for="currentPosition">Current Position</label>
							<input type="text" disabled class="form-control" th:field="*{prepos}">
						</div>
					</div>
					<div class="col-md-5 ml-5">
						<div class="form-group">
							<label for="currentDepartment">Current Department </label>
							<input type="text" disabled class="form-control" th:field="*{predep}">
						</div>
					</div>
				</div>
				<!--end-->
				<div class="row">
					<div class="col-md-5 ml-5">
						<div class="form-group">
							<label for="designation">Designation</label>
							<select id="designation" onchange="showTextBox()" class="form-control" th:field="*{process}">
								<option value="">Choose One of Designation</option>
								<!-- <option selected disabled>Choose One of Designation</option> -->
								<option value="promotion">Promotion</option>
								<option value="demotion">demotion</option>
								<option value="transfer">Transfer</option>
								<option value="resignation">Resignation</option>
								<option value="blackList">BlackList</option>

							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-11 ml-5">
						<div class="form-group mr-4">
							<label for="remark">Remark</label>
							<input id="remark" type="text" class="form-control" th:field="*{remark}" >
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 ml-5">
						<div class="form-group" id="transferPosition"
							style="display: none;">
							<label for="transferPosition">Transferred Position</label>
							<select name="position" class="form-control" th:field="*{pos}">
								<option value="" selected></option>
								<option th:each="list:${session.poslist}" th:value="${list.posid}" th:text="${list.posname}"></option>
	
							</select>
						</div>
					</div>
					<div class="col-md-5 ml-5">
						<div class="form-group" id="transferDepartment" style="display: none;">
							<label for="transferDepartment">Transferred Department</label>
							<select name="department" class="form-control" th:field="*{dep}">
								<option value="" selected></option>
								<option th:each="list:${session.deplist}" th:value="${list.id}" th:text="${list.name}" ></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6 text-center">
					<div class="form-group">
						<label></label>
						<input class="btn btn-round btn-primary" type="submit" value="Submit">

					</div>
				</div>
			</form>
		</div>
	</div>




</body>
</html>