<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="card-header">
			<h5 class="title">Add Role</h5>
		</div>
		<label id="errormsg" th:text="${err}" style="color: red;">  </label> 
		<label style="color: blue;" th:text="${msg}"></label>
		<div class="card-body">
			<form action="addrole" method="post" th:object="${bean}">
				<div class="row">
					<div class="col-md-5 pr-1">
						<div class="form-group">
							<label>Role ID (disabled)</label> 
							<input type="text" class="form-control"  th:field="${bean.id}" readonly>
							
						</div>
					</div>
				</div>
				<div class="row">
				
					<div class="col-md-5 pr-1">
						<div class="form-group">
							<label>Role Name</label>
							<input type="text" class="form-control"  th:field="*{name}">
						</div>
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red; font-size: 17px;">Error</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<input type="submit" value="Register" class="btn btn-round btn-primary" />
							<a th:href="displayrole" class="btn btn-round btn-primary">Cancel</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>